annotated-types==0.6.0
anyio==3.6.2
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
asttokens==2.1.0
attrs==22.1.0
awesome-pattern-matching==0.24.4
Babel==2.11.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.7.0
boto3==1.34.39
botocore==1.34.39
Brotli==1.0.9
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
cryptography==42.0.2
dash==2.7.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==0.13.0
dash-table==5.0.0
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
diskcache==5.6.3
dynaconf==3.2.4
ecdsa==0.18.0
entrypoints==0.4
envs==1.4
et-xmlfile==1.1.0
executing==1.2.0
fastapi==0.109.2
fastjsonschema==2.16.2
Flask==3.0.2
Flask-Compress==1.13
futures-then==0.1.1
genson==1.2.2
googleapis-common-protos==1.62.0
graphql-core==3.2.3
grpcio==1.60.1
gunicorn==20.1.0
h11==0.14.0
idna==3.4
importlib-metadata==6.11.0
install==1.3.5
ipykernel==6.17.1
ipython==8.6.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
json5==0.9.10
jsonmerge==1.9.2
jsonpickle==3.0.2
jsonschema==4.17.0
jupyter-server==1.23.2
jupyter_client==7.4.5
jupyter_core==5.0.0
jupyterlab==3.5.0
jupyterlab-pygments==0.2.2
jupyterlab_server==2.16.3
lxml
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.4
mysql-connector-python==8.0.32
nbclassic==0.4.8
nbclient==0.7.0
nbconvert==7.2.5
nbformat==5.7.0
nest-asyncio==1.5.6
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.26.0
opencv-python==4.8.1.78
openpyxl==3.1.2
opentelemetry-api==1.22.0
opentelemetry-distro==0.43b0
opentelemetry-exporter-otlp==1.22.0
opentelemetry-exporter-otlp-proto-common==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-exporter-otlp-proto-http==1.22.0
opentelemetry-instrumentation==0.43b0
opentelemetry-instrumentation-asgi==0.43b0
opentelemetry-instrumentation-botocore==0.43b0
opentelemetry-instrumentation-fastapi==0.43b0
opentelemetry-instrumentation-requests==0.43b0
opentelemetry-propagator-aws-xray==1.0.1
opentelemetry-proto==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-semantic-conventions==0.43b0
opentelemetry-util-http==0.43b0
packaging==21.3
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
platformdirs==2.5.4
plotly==5.11.0
prometheus-client==0.15.0
prompt-toolkit==3.0.32
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.1
pycognito==2024.1.0
pycparser==2.21
pydantic==2.6.1
pydantic_core==2.16.2
Pygments==2.13.0
PyMySQL==1.0.2
pyparsing==3.0.9
pyrsistent==0.19.2
pytesseract==0.3.10
python-dateutil==2.8.2
python-jose==3.3.0
pytz==2022.6
PyYAML==6.0.1
pyzmq
requests==2.28.1
rich==13.7.0
rsa==4.9
s3transfer==0.10.0
schedule==1.1.0
scikit-learn==1.4.0
scipy==1.12.0
Send2Trash==1.8.0
sentry-sdk==1.40.3
sgqlc==16.3
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.47
stack-data==0.6.1
starlette==0.36.3
stripe==9.1.0
superai==0.2.1
tenacity==8.1.0
terminado==0.17.0
threadpoolctl==3.2.0
tinycss2==1.2.1
tomli==2.0.1
tornado==6.2
traitlets==5.5.0
typing_extensions==4.9.0
urllib3==1.26.12
utils==1.0.2
uvicorn==0.27.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==3.0.1
wikipedia==1.4.0
wrapt==1.16.0
zipp==3.17.0
